/* CONTENEDOR GENERAL */
.detalle-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 70px;

  width: 95%;
  max-width: 1600px;

  margin: 60px auto;
  padding: 20px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .detalle-container {
    grid-template-columns: 1fr;
  }
}