/* CONTENEDOR GENERAL */
.detalle-container {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 50px;

  width: 92%;
  max-width: 1300px;

  margin: 24px auto 60px auto;

  padding: 20px;
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .detalle-container {
    grid-template-columns: 1fr;
    margin: 18px auto 40px auto;
  }
}